<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkbox_radiobutton</title>
</head>
<body>
    <form action="/introduccion_web-1/views/html/guardado.html" method="GET">
    
    <p >Género:</p>
    <input type="radio" id="hombre" name="genero" value="hombre" >
    <label for="hombre" >hombre</label><br>
    <input type="radio" id="mujer" name="genero" value="mujer" checked>
    <label for="mujer" >mujer</label><br>
    <br><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="bici">
    <label for="vehicle1">tengo una bici</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="carro">
    <label for="vehicle2">tengo un carro</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="bote">
    <label for="vehicle3">tengo un bote</label><br>
    
        <button type="button" onclick="alert('hello juany!')">Da clic!</button>

    <br><br>
    <input type="submit" value="Guardar">
</form>
</body>
</html>