<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colores</title>
</head>
<body style="background-color: skyblue;">
     
    <h1 style="background-color: brown;">Encabezado</h1>
    <h2 style="background-color: darkblue; color: whitesmoke;">Encabezado 2</h2>

    <h2 style="background-color: rgb(233, 10, 10);">color con grb</h2>

    <div style="background-color: salmon;">
        <br>
        <h2 style="background-color: rgba(14, 14, 226, 0.3);">trasparencia</h2>
        <br>


    </div>

</body>
</html>