<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brackground</title>
    <style>
        body{
            background: limegreen url("/introduccion_web-1/multimedia/imagen3.png");
        }
    </style>
</head>
<body>
    <h1> background</h1>

    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    <p>algùn texto</p>
    
</body>
</html>