<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fuentes</title>
    <style>
        .a{
           font-family: Arial, Helvetica, sans-serif;
           font-size: xx-large;
        }
        .b{
           font-family: forte;
        }
        .ejemp1 {
            font-feature-settings: "smcp" on;

        }
       
        .italic {
            font-style: italic;
        }
    </style>
</head>
<body>
    <h2 class="a">Arial</h2>
    <h2 class="b">Forte</h2>
    <div class="ejemp1">algùn texto 0123.</div>
    <div class="ejemp2">algùn texto 0123.</div>
    <p>normal<b>Negritas</b></p>
    <p class="italic">texto italic</p>
    <p class="italic"><u>subrayado</u></p>
    
</body>
</html>