<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medidas</title>
    <style>
        div {
            height: 200px;
            width: 50%;
            background-color: red;
        }
        div.blue{
            width: 50%;      
            background-color: blue;
                 
        }
    </style>
</head>
<body>
    <h2>declara la altura y ancura del elemento</h2>
    <p>
        este div tiene una altura de 200px y unaanchura del 50%</p>
    <div >
        <div class="blue"></div>
</div>
    
</body>
</html>