<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores simples</title>
    <link rel="stylesheet" href="/introduccion_web-1/css/estilo_selectores_simples.css">
</head>
<body>
    <h1>Encabezado h1</h1>
    <h2>Encabezado h2</h2>
    <p>por nombre</p>
    <p id="id_p">por id</p>
    <p class="right-green">por clase</p>
    <p class="red">por nombre y por clase</p>
    <p class="brown large">Este parrafo tiene dos clases</p>
</body>
</html>