<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sombras</title>
    <style>
        .a{
            text-shadow: 2px 2px red;
        }
        .b{
            text-shadow: 0 3px red, 0 0 5px blue;
        }
        .example1 {
            border: solid;
            padding: 10px;
            box-shadow: 5px 10px gray;
        }
    </style>
</head>
<body>
    <h1 class="a">algùn texto</h1>
    <h1 class="b">algùn texto</h1>
    <div class="example1"><p>algùn parrafo</p></div>
    
</body>
</html>