<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transfom</title>
    <style>
        body{
            padding: 100px;

        }
        .a{
            width: 150px;
            height: 80px;
            background-color: red;
            transform: rotate(20deg);
        }
        .b{
            width: 150px;
            height: 80px;
            background-color: red;
            transform: scaleY(1.5);  
        }
    </style>
</head>
<body>
    <div class="a">algùn texto</div>
    <br>
    <br>
    <br>
    <div class="b">algùn texto</div>
    
</body>
</html>