<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visibilidad
    </title>
    <style>
        h2.a {
            visibility: visible;
            font-family: Arial, Helvetica;
        }
        h2.b{
            visibility: hidden;
        }
        p{
            font-family: forte;
        }
    </style>
</head>
<body>
    <h2 class="a">este es visible</h2>
    <h2 class="b">este no es visible</h2>
    <p>los elementos no visibles  siguen ocupando espacio en pantalla</p>
    
</body>
</html>